// H5PFontAwesome4
$video: "\f008";
$audio: "\f028";
$image: "\f03e";
$questionnaire: "\f022";
$fileForDownload: "\f019";
$questionset: "\f128";

// 360-image
$goToScene: "\e907";
$scene: "\e915";

// H5PFontIcons
$summary: "\e992";
$singleChoiceSet: "\e993";
$imageSlider: "\e921";

$info: "\e906";
$question: "\e905";
$info-mark: "\e91a";

$multiChoice: "\e605";

$checkmark: "\2713";

$crossword: "\e924";
$blanks: "\e994";
